{% extends "base.html.jinja" %}

{% block header %}
    {% block title %}Log In{% endblock %}
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('auth.login') }}">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required autocomplete="username" />
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required autocomplete="current-password" />
        </div>
        <button type="submit">Log In</button>
    </form>
{% endblock %}