{% extends "base.html.jinja" %}

{% block header %}
    {% block title %}Register{% endblock %}
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('auth.register') }}">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required autocomplete="username" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required autocomplete="current-password" />
        <button type="submit">Register</button>
    </form>
{% endblock %}

